<script>
    const darkSwitch = document.getElementById("darkSwitch");

    function updateTheme() {
        if (darkSwitch.checked) {
            document.body.classList.add("dark");
            document.body.classList.remove("light");
            localStorage.setItem("theme", "dark");
        } else {
            document.body.classList.remove("dark");
            document.body.classList.add("light");
            localStorage.setItem("theme", "light");
        }
    }

    darkSwitch.addEventListener("change", updateTheme);

    if (localStorage.getItem("theme") === "dark") {
        darkSwitch.checked = true;
    }
    updateTheme();
</script>